/.recommenders/
.classpath
.project
.settings
.metadata
.idea
*.iml
*.swp
dependency-reduced-pom.xml
*.log
.checkstyle
.pmd
.pmdruleset.xml

launchConfigs/
target/
build/
bin/
db/
logs/
storm.log.dir_IS_UNDEFINED/